package pages

templ About() {
	<h1>This is the about page</h1>
	<button class="bg-red-600 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded-full" hx-post="/clicked" 
    hx-swap="innerHTML" hx-trigger="click" hx-target="#myContent">
		Button
	</button>
	<p id="myContent">
		Original content
	</p>
}
